body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* width: 100%;
  height: 100%; */
  overflow: auto;
}
/* .header {
  display: grid;
} */

#navbar {
  width: 100%;
  height: 58px;
  display: flex;
  text-align: center;
  margin-bottom: 23px;
  padding-top: 6px;
  position: fixed;
  top: -2px;
  z-index: 2;
  background-color: white;

  /* border: 2px solid rgb(147, 143, 143); */

  justify-content: space-between;
}
.box1 {
  margin: 3px;
  padding: 10px;
  display: flex;
}

#line {
  padding: -2px;
  font-size: 24px;
  cursor: pointer;
}
#logo {
  padding: 0px 16px 0px 20px;
  font-size: 28px;
  cursor: pointer;
}
#para {
  margin: -19px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  font-family: sans-serif;
}
#in {
  position: relative;
  left: 13px;
  bottom: 32px;
  padding: 2px;
  color: grey;
}
.box2 {
  margin: 0px;
  padding: 6px;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  height: 40px;
}
.input {
  width: 100%;
  font-size: 17px;
  height: 30px;
  border: 1px solid rgb(156, 149, 149);
  border-radius: 24px 0 0 24px;
  border-style: solid none solid solid;
  padding: 5px;
  /* cursor: pointer; */
}

#search {
  width: 100px;
  height: 40px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid solid solid none;
  border: 1px solid rgb(156, 149, 149);
  border-radius: 0 24px 24px 0;
  cursor: pointer;
}
#search:hover {
  background-color: gainsboro;
}
#mic:hover {
  background-color: gainsboro;
}
#mic {
  position: relative;
  left: 22px;
  bottom: 0px;
  top: 1px;
  background-color: whitesmoke;
  border: 1px solid rgb(156, 149, 149);
  border-radius: 50%;
  padding: 9px 15px 31px 13px;
  cursor: pointer;
}
.box3 {
  margin: 0px;
  margin-right: 17px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

#camera {
  /* border: 2px solid; */
  border-radius: 50%;
  padding: 7px 8px;
  cursor: pointer;
  margin-right: 10px;
}
#camera:hover {
  background-color: rgb(209, 214, 218);
}
#notify:hover {
  background-color: rgb(209, 214, 218);
}
#notify {
  /* padding: 7px 23px; */
  cursor: pointer;
  border-radius: 50%;
  padding: 7px 8px;
}
#name {
  margin-left: 10px;
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  padding: 8px 11px 26px 10px;
  background-color: rgb(158, 82, 228);
  border: 2px solid rgb(156, 149, 149);
  border-radius: 50%;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
#name:hover {
  /* background-color: rgb(197, 20, 251); */
  color: rgb(19, 13, 19);
}
.toggle {
  /* margin-top: 15px; */
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 2;
  background-color: white;
}
#st {
  /* padding-left: 20px; */
  margin-left: 240px;
}
.element {
  margin: 10px;
  padding: 5px 8px;
  background-color: rgb(243, 239, 239);
  border: 1px solid rgb(204, 193, 193);
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}
/* sidebar  */
#sidebar {
  position: fixed;
  z-index: 4;
  /* top: 20px; */
  /* position: fixed; */
  top: 56px;
  width: 220px;
  height: 100vh;
  display: inline-block;

  margin-left: 8px;
  /* display: inline-block; */
  /* justify-content: left;
align-items: left; */

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* background-color: #b79595; */
}
#sidebar:hover {
  overflow: auto;
}
#sidebar ul {
  margin: 0px;
  padding: 2px;
  margin-bottom: 10px;
}

.li {
  list-style-type: none;
  margin: 0px;
  padding: 11px;
  cursor: pointer;
  /* border: 1px solid black; */
  border-radius: 5px;
}
.fa-solid {
  font-size: 17px;
}
.fa-regular {
  font-size: 20px;
}
#sub li {
  display: flex;
  justify-content: left;
  align-items: center;
}
#sidebar ul li:hover {
  background-color: rgba(242, 242, 242, 0.6);
}
.img {
  list-style-type: none;
  padding: 15px;
  margin: 0px;
  border-radius: 5px;
}
.ex {
  list-style-type: none;
  padding: 15px;
  margin: 0px;
  border-radius: 5px;
}
#main {
  background-color: white;
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(3, 25%);
  grid-gap: 0px 97px;
  position: relative;
  top: 110px;
  left: -23px;
  height: 100%;
  width: 1271px;
  float: right;
}

.video {
  margin: 0px;
  padding: 5px;
  z-index: 1;
  /* border-radius: 50px; */
}
.img {
  /* position:relative; */
  /* z-index: 1; */
  border-radius: 25px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  /* height:225px;
   width:380px; */

  cursor: pointer;
}
.logo {
  position: relative;
  margin-top: -32px;
  margin-bottom: 23px;
  top: 45px;
}
.lg {
  top: 10px;
  border-radius: 50%;
  border: 1px solid;
  margin-top: -50px;
  /* margin-right: 15px; */
  margin-left: 23px;
  cursor: pointer;
}
.desc {
  font-size: 16px;
  font-weight: 550;
  position: relative;
  top: -17px;
  bottom: 0px;
  left: 71px;
  cursor: pointer;
}
.desc2 {
  font-size: 14px;
  position: relative;
  top: -9px;
  bottom: 0px;
  left: 71px;
  cursor: pointer;
}
.desc2 p {
  margin-top: -3px;
  margin-bottom: -14px;
}
.time {
  position: absolute;
  /* width: 48px; */
  /* top: -68px; */
  /* bottom: 370px; */
  /* left: 107%; */
  border-radius: 4px;
  padding: 5px;
  background-color: black;
  color: white;
  /* z-index: 2; */
}
#i {
  padding: 1px;
  color: white;
  background-color: rgb(8, 13, 16);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  /* bottom: 370px; */
  top: 196px;
  left: 345px;
}
#ii {
  padding: 1px;
  color: white;
  background-color: rgb(8, 13, 16);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  /* bottom: 368px; */
  top: 200px;
  left: 759px;
}
#iii {
  padding: 1px;
  color: white;
  background-color: rgb(8, 13, 16);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  /* bottom: 368px; */
  top: 199px;
  left: 1170px;
}
#iv {
  padding: 1px;
  color: white;
  background-color: rgb(8, 13, 16);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  /* bottom: 23px; */
  top: 545px;
  left: 349px;
}
#v {
  padding: 1px;
  color: white;
  background-color: rgb(8, 13, 16);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  /* bottom: 23px; */
  top: 545px;
  left: 759px;
}
#vi {
  padding: 1px;
  color: white;
  background-color: rgb(8, 13, 16);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  /* bottom: 23px; */
  top: 545px;
  left: 1170px;
}
#vii {
  padding: 1px;
  color: white;
  background-color: rgb(8, 13, 16);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  /* bottom: 0px; */
  top: 893px;
  left: 345px;
}
#viii {
  padding: 1px;
  color: white;
  background-color: rgb(8, 13, 16);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  /* bottom: 0px; */
  top: 893px;
  left: 759px;
}

#xi {
  padding: 1px;
  color: white;
  background-color: rgb(8, 13, 16);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  /* bottom: 0px; */
  top: 893px;
  left: 1170px;
}
/* #sidebar_after li {
  list-style: none;
  padding-bottom: 15px;
}
#sidebar_after li li {
  padding: 10px;
}
#sidebar_after {
  background-color: cadetblue;
  padding: 2px 2px 2px 2px;
  margin: 0px;
  margin-left: -10px;
  width: 147px;
  text-align: left;
  font-size: 14px;
} */
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */
/* #other {
  display: none;
} */

.side-cont {
  display: none;
}

@media (max-width: 400px) {
  body {
    /* margin-left: 5px; */
  }

  /* #only {
    display: none;
  } */
  #main {
    background-color: white;
    width: 100%;
    /* z-index: 0; */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine";
  }
  #st {
    margin-left: 9px;
    font-size: 20px;
  }
  .img {
    width: 554px;
    height: 333px;
    margin-left: 16px;
    margin-right: 10px;
    padding-left: 14px;
    padding-right: 10px;
  }
  .toggle {
    width: 208%;
    overflow-x: scroll;
    margin-left: 708px;
    /* margin-right: -573px; */
    position: fixed;
    left: -709px;
    /* top: 150px; */
    /* z-index: 9;*/
  }
  .toggle::-webkit-scrollbar {
    height: 0;
  }
  #name {
    position: relative;
    top: 4px;
    left: 23px;
    right: 21px;
    bottom: 951px;
    font-size: 15px;
  }
  #camera {
    position: relative;
    top: 4px;
    left: 62px;
    right: 10px;
    bottom: 15px;
    font-size: 20px;
  }
  #notify {
    position: relative;
    top: 5px;
    left: -23px;
    right: 10px;
    bottom: 15px;
    font-size: 20px;
  }
  .desc {
    width: 501px;
    position: relative;
    top: -12px;
    left: 97px;
    right: 10px;
    bottom: 15px;
    font-size: 20px;
  }
  .logo {
    width: 536px;
  }
  .lg {
    width: 54px;
    height: 52px;
    position: relative;
    top: 26px;
    left: 10px;
    right: 10px;
    bottom: 15px;
  }
  .desc2 {
    width: 463px;
    position: relative;
    top: -3px;
    left: 97px;
    right: 10px;
    bottom: 15px;
    font-size: 14px;
  }
  .element {
    white-space: nowrap;
    font-size: 22px;
  }
  #h6 {
    font-size: 14px;
    position: relative;
    font-weight: bold;
    top: -2px;
    left: -7px;
    right: 10px;
    bottom: 15px;
  }
  #h2 {
    font-size: 28px;
    position: relative;
    top: -5px;
    left: -7px;
    right: 10px;
    bottom: 15px;
  }
  #logo {
    font-size: 40px;
    position: relative;
    top: -1px;
    left: -9px;
    right: 10px;
    bottom: 15px;
  }
  .time {
    display: none;
  }
  #sidebar {
    display: none;
  }
  #line {
    display: none;
  }
  #bar {
    display: none;
  }
  #search {
    display: none;
  }
  #mic {
    display: none;
  }
  #navbar {
    position: relative;
    width: 570px;
    font-size: 19px;
    margin-bottom: 10px;
    position: fixed;
    /* z-index: 0; */
  }
  .side-cont {
    display: flex;
    position: fixed;
    top: 90%;
    left: 4px;
    width: 100%;
    background-color: white;
    z-index: 2;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 3%;
    bottom: 0%;
    margin-top: 0px;
    font-size: 15px;
    text-align: center;

    /* flex-direction: column; */
  }
  .side-box {
    position: relative;
    left: -4px;
    top: 19px;
    color: #514e4e;
  }
  .side-box p {
    font-size: 15px;
  }
  .side-box i {
    font-size: 22px;
  }
}
